@model IEnumerable<CellableMVC.Models.PossibleDefect>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function ValidateForm() {

        var isValid = true;

        if (document.getElementById("hdnCapacity").value == "") {
            document.getElementById("CapacityValidationMessage").innerHTML = "* Please Select You Phone's Storage Capacity";
            isValid = false
        }
        else {
            document.getElementById("CapacityValidationMessage").innerHTML = "";
        }

        @{var lastGroupId = 0; }
        @foreach (var group in Model)
        {
            // Don't Repeat an Already Created Group
            if (lastGroupId != group.DefectGroup.DefectGroupId)
            {
                lastGroupId = group.DefectGroup.DefectGroupId;
                @Html.Raw("if (document.getElementById('hdn_" + group.DefectGroupId.ToString() + "').value == '') { document.getElementById('val_" + group.DefectGroupId.ToString() + "').style.display = ''; isValid = false; }");
                @Html.Raw("else { document.getElementById('val_" + group.DefectGroupId.ToString() + "').style.display = 'none'; }");
            }
        }

        //alert(isValid);

        return isValid;
     }

    function SetField(field, value, desc) {

        if (field == "capacity") {
            document.getElementById("hdnCapacity").value = value;
            document.getElementById("hdnCapacityDesc").value = desc;
            document.getElementById("CapacityValidationMessage").innerHTML = "";
        }
        else {
            document.getElementById("hdn_" + field).value = field;
        }

        //alert(document.getElementById("hdn_" + field).value);
    }
</script>

<table style="width:80%; margin-left:auto; margin-right:auto;">
    <tr>
        <td>
            <h4>@ViewBag.Title</h4>
            <hr />
            <p>
                @ViewBag.Text
            </p>
            <div class="text-danger" style="text-align:center">@ViewBag.Message</div>
        </td>
    </tr>
</table>

@using (Html.BeginForm("PricePhone", "Phones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input id="id" name="id" type="hidden" value="@Session["VersionId"]" />
    <table style="width:70%; margin-left:auto; margin-right:auto; font-family:'HP Simplified'">
        <tr>
            <td style="text-align:center; vertical-align:top; width:30%;">
                <div style="height:50px;"></div>
                <div style=" width:300px">
                    @Html.Raw(Session["PhoneBrandName"])
                    <br />
                    @Html.Raw(Session["VersionName"])
                    <br />
                    <img src="@ViewBag.phoneImageLocation/@Session["ImageLocation"]" style="height:250px; width:130px;" />
                    <br />
                    Please Note: We do not pay for devices that have been reported lost or stolen.
                    <p>
                        <input type="submit" class="button" value="Price Phone" onclick="return ValidateForm()" />
                        <input type="reset" class="button" value="Reset Form" />
                    </p>
                </div>
            </td>
            <td style="text-align:left;">
                <table style="width:80%; margin-left:auto; margin-right:auto;">
                    <tr>
                        <td>
                            <div style=" margin-right: 50px; height: 125px; border: medium solid #ccc; width: 600px; border-radius: 15px; margin-left: 24px;">
                                <div style="text-align:left; background-color:lightgray;">
                                    &nbsp;&nbsp;&nbsp;
                                    <p style="text-align:left; font-size:large; background-color:lightgray; margin-top: -10px; width: 573px; margin-left: 17px; border-bottom: thin solid #ccc; ">
                                        Storage Capacity
                                    </p>
                                </div>
                                <div style="display:inline-block; width:30px;"></div>
                                @foreach (var capacities in ViewBag.Capacities)
                                {
                                    foreach (var versionCapacities in ViewBag.PhoneCapacities)
                                    {
                                        if (capacities.StorageCapacityId == versionCapacities.StorageCapacityId)
                                        {
                            <label>
                                <input id="capacity" type="radio" name="capacity" value="@versionCapacities.Value" onchange="SetField('capacity', @versionCapacities.Value, '@capacities.Description')" />@Html.Raw("&nbsp;")
                                @capacities.Description
                            </label>@Html.Raw("&nbsp; &nbsp;")
                                        }
                                    }
                                }
                                <br />
                                <div style="display:inline-block; width:50px;"></div><div id="CapacityValidationMessage" name="CapacityValidationMessage" style="display:inline-block" class="text-danger"></div>
                                <input type="hidden" name="hdnCapacity" id="hdnCapacity" />
                                <input type="hidden" name="hdnCapacityDesc" id="hdnCapacityDesc" />
                            </div>
                        </td>
                    </tr>
                    @{ lastGroupId = 0; }
                    @foreach (var group in Model)
                    {
                        // Don't Repeat an Already Created Group
                        if (lastGroupId != group.DefectGroup.DefectGroupId)
                        {
                            lastGroupId = group.DefectGroup.DefectGroupId;
                            <tr>
                                <td>
                                    <div style=" margin-right: 50px; height: 125px; border: medium solid #ccc; width: 600px; border-radius: 15px; margin-left: 24px;">
                                        &nbsp;&nbsp;&nbsp;
                                        <p style="text-align:left; margin-top: -10px; font-size:large; width: 573px; margin-left: 17px; border-bottom: thin solid #ccc; ">
                                            @Html.DisplayFor(modelItem => group.DefectGroup.GroupName)
                                            @if (group.DefectGroup.Info != null)
                                            {
                                                <abbr title="@group.DefectGroup.Info"><i class="fa fa-info-circle" style="cursor:pointer;"></i></abbr>
                                            }
                                        </p>
                                        <div style="width:30px; display:inline-block"></div>
                                        @foreach (var defect in Model)
                                        {
                                            if (group.DefectGroupId == defect.DefectGroupId)
                                            {
                                            <label>
                                                <input id="@defect.DefectGroupId" type="radio" name="@group.DefectGroupId" value="@defect.DefectGroupId@Html.Raw("_")@defect.PossibleDefectId@Html.Raw("_")@Html.DisplayFor(modelItem => defect.DefectCost)" onchange="SetField('@group.DefectGroupId', null, null)" /> @Html.Raw("&nbsp;") @Html.DisplayFor(modelItem => defect.DefectName)
                                            </label>@Html.Raw("&nbsp;&nbsp;&nbsp;")
                                            }
                                        }
                                        <div id="val_@group.DefectGroupId.ToString()" name="val_@group.DefectGroupId.ToString()" class="text-danger" style="margin-left:40px; display:none;">* Required</div>
                                        <input type="hidden" id="hdn_@group.DefectGroupId.ToString()" name="hdn_@group.DefectGroupId.ToString()" />
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </table>
    <table style="width:70%; margin-left:auto; margin-right:auto;">
        <tr>
            <td style="text-align:center; vertical-align:middle; height:150px;">
                @ViewBag.Footer
            </td>
        </tr>
    </table>
}
