@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cellable - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        function togglePassword() {
            const password = document.getElementById("NewPassword");
            const password1 = document.getElementById("Password1");
            const confirmPassword = document.getElementById("ConfirmPassword");
            const password2 = document.getElementById("Password2");

            if (password.type === "password") {
                password.type = "text";
                confirmPassword.type = "text";
                Password1.innerHTML = "<i class='fa fa-eye input-field' onclick='togglePassword()' style='right:5px;'></i>"
                Password2.innerHTML = "<i class='fa fa-eye input-field' onclick='togglePassword()' style='right:5px;'></i>"
            } else {
                password.type = "password";
                confirmPassword.type = "password";
                password1.innerHTML = "<i class='fa fa-eye-slash input-field' onclick='togglePassword()' style='right:5px;'></i>"
                password2.innerHTML = "<i class='fa fa-eye-slash input-field' onclick='togglePassword()' style='right:5px;'></i>"
            }
        };

        function valid_form() {
            var newPassword = document.getElementById("NewPassword").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;

            //alert(email);

            if (newPassword != "") {
                if (newPassword.length < 8) {
                    document.getElementById("NewPasswordValidationMessage").innerHTML = "Password must be at least 8 characters";
                    valid = false;
                }
                else {
                    document.getElementById("NewPasswordValidationMessage").innerHTML = "";
                    valid = true;
                }
                if (confirmPassword == "") {
                    document.getElementById("ConfirmPasswordValidationMessage").innerHTML = "Please confirm new password";
                    valid = false;
                }
                else {
                    document.getElementById("ConfirmPasswordValidationMessage").innerHTML = "";
                    valid = true;
                }
                if (newPassword != confirmPassword) {
                    document.getElementById("PasswordMatchValidationMessage").innerHTML = "Passwords do not match";
                    valid = false;
                }
                else {
                    document.getElementById("PasswordMatchValidationMessage").innerHTML = "";
                    valid = true;
                }
            }

            return valid;
        }
    </script>
</head>
<body>

    @using (Html.BeginForm("ResetPassword", "Users"))
    {
        @Html.AntiForgeryToken()
        <table style="width:70%; margin-left:auto; margin-right:auto;">
            <tr>
                <td>
                    <h4>Reset User Password</h4>
                    <hr />
                    <table style="width:30%; margin-left:auto; margin-right:auto;">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <b>
                                        @Html.Label("Email Address")
                                    </b>
                                    <br />
                                    @Request["email"]
                                    @Html.Hidden("Email", Request["email"])
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <b>
                                        @Html.Label("New Password")
                                    </b>
                                    <br />
                                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" onchange="return valid_form()" />
                                    <div id="Password1">
                                        <i class="fa fa-eye-slash input-field" onclick="togglePassword()" style="right:5px;"></i>
                                    </div>
                                    <div id="NewPasswordValidationMessage" name="NewPasswordValidationMessage" class="text-danger"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <b>
                                        @Html.Label("Confirm Password")
                                    </b>
                                    <br />
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" onchange="return valid_form()" />
                                    <div id="Password2">
                                        <i class="fa fa-eye-slash input-field" onclick="togglePassword()" style="right:5px;"></i>
                                    </div>
                                    <div id="ConfirmPasswordValidationMessage" name="ConfirmPasswordValidationMessage" class="text-danger"></div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%; padding:10px;">
                                <input type="submit" value="Submit" class="button" onclick="return valid_form()" />
                                <input type="reset" value="Reset" class="button" />
                                <br />
                                <div class="text-danger">@Request.Params["msg"]</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
</body>
</html>

