@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Cellable Login</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
    </style>
    <script>
        function togglePassword() {
            const password = document.getElementById("password");
            if (password.type === "password") {
                password.type = "text";
                PasswordEye.innerHTML = "<i class='fa fa-eye input-field' onclick='togglePassword()'></i>"
            } else {
                password.type = "password";
                PasswordEye.innerHTML = "<i class='fa fa-eye-slash input-field' onclick='togglePassword()'></i>"
            }
        };

        function ValidateForm() {
            var valid = false;
            const uName = getElementById("UserName").value();
            const password = getElementById("Password").value();

            if (uName == "") {

            }

            return valid;
        }

        function ForgotPassword() {
            $('#myModal').modal('show');
        }
    </script>
</head>
<body>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Forgot your password?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please enter your email address</p>
                    @using (Html.BeginForm("Login", "Users"))
                    {
                        @Html.Hidden("type", "Password")
                        @Html.Hidden("resetPassword", "true")
                        <div class="form-group">
                            <input type="Text" id="Email" name="Email" class="form-control" placeholder="Email">
                            <br />
                            <input type="Text" id="ConfirmEmail" name="ConfirmEmail" class="form-control" placeholder="Confirm Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>
    
    @using (Html.BeginForm("UserLogin", "Authentication"))
    {
        @Html.AntiForgeryToken()
        <table style="width:70%; margin-left:auto; margin-right:auto;">
            <tr>
                <td>
                    <h4>User Login</h4>
                    <hr />
                    <table style="width:100%">
                        <tr>
                            <td style="margin-left:250px; text-align:center;" class="text-danger" colspan="2">
                                <div style="margin-left:-120px;">@ViewBag.Message
                                @Request.Params["msg"]</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right; padding:10px;"> <i class="text-danger">*</i>&nbsp;User Name:</td>
                            <td style="width:20%; padding:10px;">
                                <input type="text" class="form-control" name="userName" value="@ViewBag.UserName" autofocus>
                                <ASP:RequiredFieldValidator ControlToValidate="userName"
                                                            Display="Static" ErrorMessage="Please Enter User Name" runat="server"
                                                            ID="vUserName" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; padding:5px; text-align:right;"><i class="text-danger">*</i>&nbsp;Password:</td>
                            <td style="width:20%; padding:10px;">
                                <input id="password" type="password" class="form-control" name="password">
                                <div id="PasswordEye">
                                    <i class="fa fa-eye-slash input-field" onclick="togglePassword()"></i>
                                </div>
                                <ASP:RequiredFieldValidator ControlToValidate="password"
                                                            Display="Static" ErrorMessage="Please Enter Password" runat="server"
                                                            ID="vUserPass" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; padding:10px;"></td>
                            <td style="width:20%; padding:10px; vertical-align:top">
                                <input type="checkbox" id="rememberMe" name="rememberMe" class="btn btn-default" value="true"
                                       @if (ViewBag.Password != null) { @Html.Raw(" checked") ; } />
                                Remember Me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="cursor:pointer; color:blue; display:inline-block;" onclick="ForgotPassword()">Forgot Password?</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right; padding:10px;"></td>
                            <td style="width:20%; padding:10px;">
                                <input type="submit" value="Login" class="button" onclick="return valid_form()" />
                                <input type="reset" value="Reset" class="button" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
</body>
</html>

