@model IEnumerable<CellableMVC.Models.vmOrderDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    .checked {
        color: orange;
    }

    .PromoCode:hover {
        box-shadow: 0 2px 3px 0 lawngreen, 0 2px 3px 0 rgba(0,0,0,0.19);
    }
</style>

<script type="text/javascript">
    function CheckStar(control) {
        var one = document.getElementById("1");
        var two = document.getElementById("2");
        var three = document.getElementById("3");
        var four = document.getElementById("4");
        var five = document.getElementById("5");
        var stars = document.getElementById("Stars");

        switch (control.id) {
            case "1":
                one.innerHTML = "<span class='fa fa-star checked'></span>";
                two.innerHTML = "<span class='fa fa-star'></span>";
                three.innerHTML = "<span class='fa fa-star'></span>";
                four.innerHTML = "<span class='fa fa-star'></span>";
                five.innerHTML = "<span class='fa fa-star'></span>";
                stars.value = "1";
                break;
            case "2":
                one.innerHTML = "<span class='fa fa-star checked'></span>";
                two.innerHTML = "<span class='fa fa-star checked'></span>";
                three.innerHTML = "<span class='fa fa-star'></span>";
                four.innerHTML = "<span class='fa fa-star'></span>";
                five.innerHTML = "<span class='fa fa-star'></span>";
                stars.value = "2";
                break;
            case "3":
                one.innerHTML = "<span class='fa fa-star checked'></span>";
                two.innerHTML = "<span class='fa fa-star checked'></span>";
                three.innerHTML = "<span class='fa fa-star checked'></span>";
                four.innerHTML = "<span class='fa fa-star'></span>";
                five.innerHTML = "<span class='fa fa-star'></span>";
                stars.value = "3";
                break;
            case "4":
                one.innerHTML = "<span class='fa fa-star checked'></span>";
                two.innerHTML = "<span class='fa fa-star checked'></span>";
                three.innerHTML = "<span class='fa fa-star checked'></span>";
                four.innerHTML = "<span class='fa fa-star checked'></span>";
                five.innerHTML = "<span class='fa fa-star'></span>";
                stars.value = "4";
                break;
            case "5":
                one.innerHTML = "<span class='fa fa-star checked'></span>";
                two.innerHTML = "<span class='fa fa-star checked'></span>";
                three.innerHTML = "<span class='fa fa-star checked'></span>";
                four.innerHTML = "<span class='fa fa-star checked'></span>";
                five.innerHTML = "<span class='fa fa-star checked'></span>";
                stars.value = "5";
                break;
        }
    }

    $(window).on('load', function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const newOrder = urlParams.has('NewOrder')

        if (newOrder) {
            $('#myModal').modal('show');
        }
    });

    function popupTrackingWindow(trackingNumber, win, w, h) {
        const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
        const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
        return win.open("/Mail/_USPSTrackingMessage?trackingNumber=" + trackingNumber, "USPS Tracking", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
    }

    function popupLabelWindow(url, win, w, h) {
        const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
        const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
        return win.open(url, "Print Mailing Label", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
    }
</script>

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @ViewBag.Text
</p>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">How did we do?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Please take a moment to rate our service and leave a comment.</p>
                @using (Html.BeginForm("SaveTestimonial", "Users"))
                {
                    <div class="form-group">
                        <div id="1" name="1" style="display:inline-block;" onclick="CheckStar(this)"><span class="fa fa-star"></span></div>
                        <div id="2" name="2" style="display:inline-block;" onclick="CheckStar(this)"><span class="fa fa-star"></span></div>
                        <div id="3" name="3" style="display:inline-block;" onclick="CheckStar(this)"><span class="fa fa-star"></span></div>
                        <div id="4" name="4" style="display:inline-block;" onclick="CheckStar(this)"><span class="fa fa-star"></span></div>
                        <div id="5" name="5" style="display:inline-block;" onclick="CheckStar(this)"><span class="fa fa-star"></span></div>
                        @Html.Hidden("Stars")
                    </div>
                    <div class="form-group">
                        <input type="Text" id="Comment" name="Comment" class="form-control" placeholder="Comment">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr style="background-color:black; color:lawngreen">
        <th>
            Phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </tr>

    @{ var count = 0; }
    @foreach (var item in Model)
    {
        if (count > 0) { count = 0; } else { count++; }
        <tr @if (count == 0) { @Html.Raw("style='background-color:lightgrey'") ; }>
            <td>
                @Html.DisplayFor(modelItem => item.Brand) @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusType)
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.PromoCode);
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.PromoName);
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @{
                    if (item.PromoName != null)
                    {
                        @Html.DisplayFor(modelItem => item.Discount); @Html.Raw("%");
                    }
                    else
                    {
                        @Html.Raw("---");
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentUserName)
            </td>
            <td>
                @if (item.MailLabel != null)
                {
                    <div onclick="popupLabelWindow('@item.MailLabel', window, 800, 600)" style="color:blue; cursor:pointer;">Print Label</div>
                }
            </td>
            <td>
                <div onclick="popupTrackingWindow('@item.TrackingNumber', window, 400, 400)" style="color:blue; cursor:pointer;">@item.TrackingNumber</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
        </tr>
    }
</table>
<table style="width:70%; margin-left:auto; margin-right:auto;">
    <tr>
        <td style="text-align:center; vertical-align:bottom; height:150px;">
            @ViewBag.Footer
        </td>
    </tr>
</table>
